{% extends "base.html" %}

{% block title %}
Edit {{ object.beer_name }}
{% endblock %}

{% block content %}
<header>
  <h2>Edit Rating for {{object.beer_name}}</h2>
</header>

<div class="update-form">
  <div class="rating-form">
    {{ form.non_field_errors }}
    <form role="form" method="post">
      {% csrf_token %}
      <div>
        {{ form.brewery_name.errors }}
        {{ form.brewery_name.label_tag }}
        {{ form.brewery_name }}
      </div>
      <div>
        {{ form.beer_name.errors }}
        {{ form.beer_name.label_tag }}
        {{ form.beer_name }}
      </div>
      <div>
        {{ form.score.errors }}
        {{ form.score.label_tag }}
        {{ form.score }}
      </div>
      <div>
        {{ form.notes.errors }}
        {{ form.notes.label_tag }}
        {{ form.notes }}
      </div>
      <span>
        <button type="submit" class="button">SUBMIT EDITS</button>
        <a href="{% url 'rating-home' %}"><button type="button"  class="button">CANCEL</button></a>
        <a href="{% url 'rating-delete' object.id %}"><button type="button"  class="button button-delete">DELETE</button></a>
      </span>
    </form>
  </div>
</div>
{% endblock %}
