{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Confirm Delete
{% endblock %}

{% block content %}
<div class="delete-view">
  <div class="delete-confirm">
    <img src="{% static 'images/danger.jpg' %}" alt="Danger" id="danger">
    <h1>Delete Rating for {{ object.beer_name }}?</h1>

    <form action="" method="POST" class="confirm-buttons">
      {% csrf_token %}
      <span>
        <button type="submit" class="button">DELETE RATING</button>
        <a href="{% url 'rating-home' %}"><button type="button" class="button">CANCEL</button></a>
      </span>
    </form>
  </div>
</div>
{% endblock %}