@import 'normalize.css';

@font-face {
   font-family: 'Druk-Heavy';
   src: url('../fonts/Druk-Heavy.otf') format("opentype");
}      

html {
   font-family: 'Druk-Heavy', sans-serif;
   -webkit-font-smoothing: antialiased;
   font-size: 3rem;
   height: 100vh;
   background-color: #EBE9DE;
   color: white;
   text-transform: uppercase;
   letter-spacing: 1;
   scroll-behavior: smooth;
}

body {
   display: flex;
   flex-direction: column;
   align-items: center;
}

header {
   border-bottom: 1px solid black;
   padding-bottom: 6px;
}

h2 {
   color: black;
   margin: 30px 0 0;
   border-bottom: 8px solid black;
}

label, .button {
   font-size: .7rem;
}

button {
   background-color: #941D22;
   color: white;
   border: none;
}

.logo {
   position: absolute;
   top: 10px;
   left: 10px;
   width: 15vw;
}

.button {
   padding: 10px 20px;
   border: none;
   margin-top: 10px;
   letter-spacing: 1px;
}

.button-delete {
   background-color: white;
   color: #941D22;
   border: none;
}

button:hover {
   opacity: .7;
}

.confirm-buttons {
   align-items: center;
}

input, textarea, table {
   font-family: 'Roboto Slab', sans-serif;
   font-weight: 300;
   font-size: .6rem;
   border: none;
}

.ratings-table, .delete-confirm, .new-rating-form, .rating-form {
   width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 6vmin;
   padding: 4vmin 0;
   background-image: url('../images/taproom.jpg');
   background-size: cover;
   background-color: black;
   background-blend-mode: hard-light;
}

table {
   background-color: rgba(0, 0, 0, .7);
   font-size: .4rem;
   line-height: 1.8;
   padding: 20px;
   font-weight: 400;
}

form {
   background-color: rgba(0, 0, 0, .7);
   width: 60vw;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

form div {
   display: flex;
   flex-direction: column;
}

#id_notes {
   width: 40vw;
   height: 10vw;
}

.new-rating-form {
   margin-top: 0;
   display: none;
}

td, th {
   border-bottom: 1px solid white;
}

td:nth-child(even) {
   background-color: rgba(255, 255, 255, .1);
}

td:last-child {
   text-align: center;
}

td:nth-child(4) {
   max-width: 55vw;
}

.show {
   display: flex;
}

#danger {
   width: 30vw;
}