{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Beer Rater{% endblock %}</title>
  {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
  {% endblock %}
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  {% block scripts %}
    <script defer src="{% static 'js/main.js' %}"></script>
  {% endblock %}
</head>
<body>
  <a href="/"><img src="{% static 'images/logo-with-splat.png' %}" alt="Logo" class="logo"></a>
{% block content %}
{% endblock %}
</body>
</html>