{% extends "base.html" %}

{% block content %}
<header>
  <h2>Ratings</h2>
</header>

<div class="home">
  <div class="ratings-table">
    <table>
      <thead>
        <tr>
          <th>Brewery Name</th>
          <th>Beer Name</th>
          <th>Beer Rating</th>
          <th>Notes</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for rating in ratings %}
        <tr>
          <td>{{ rating.brewery_name }}</td>
          <td>{{ rating.beer_name }}</td>
          <td>{{ rating.score }}</td>
          <td>{{ rating.notes }}</td>
          <td><a href="{% url 'rating-update' rating.id %}"><button>EDIT</button></td>
          <td><a href="{% url 'rating-delete' rating.id %}"><button class="delete-button">ⓧ</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="#ratingForm"><button id="newRatingToggle" type="button" class="button">ADD RATING</button></a>
  </div>
  <div id="ratingForm" class="new-rating-form">
    <form action="{% url 'rating-add' %}" method="POST">
      <h3>Enter a new rating</h3>
      {% csrf_token %}
      <div>
        <label for="breweryName">Brewery Name:</label>
        <input name="brewery_name" id="breweryName" type="text" placeholder="Enter Brewery Name" required>
      </div>
      <div>
        <label for="beerName">Beer Name:</label>
        <input name="beer_name" id="beerName" type="text" placeholder="Enter Beer Name" required>
      </div>
      <div>
        <label for="score">Score:</label>
        <input name="score" id="score" type="number" placeholder="0 - 10" step="0.1" required>
      </div>
      <div>
        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes" placeholder="Say something about this beer" cols="40" rows="3"></textarea>
      </div>
      <span>
        <button type="submit" class="button">SUBMIT</button>
        <button type="reset" class="button">RESET</button>
      </span>
      
    </form>
  </div>
</div>
{% endblock %}
